// Class to use to ensure hidden elements depending on state (such as user auth and permissions)
// do not prevent from styling them correcty.
// To activate with VUE_APP_DEBUG_STYLES env variable set to 'true' in .env.development
#q-app *.-DEV-ENV-DEBUG-STYLES
  color: pink !important
  background-color: purple !important
