json('../styles.json') // JSON import: https://github.com/stylus/stylus/pull/784

$background-color = #FFFFFF
$font-color = #484848
$home-search-card-background = homeSearchCardBackground // from styles.json

$map-background-color = #FCF7E5 // change according to map tiles loading color

$breakpoint-xxs = 480px

$transition-duration = 300ms

// For aspect ratio padding-top trick using absolute positioning `position:relative` parent
// values from styles.json
$base-image-ratio-padding-top = 100 * (baseImageAspectRatioHeight / baseImageAspectRatioWidth)%

$badge-rounded-border-radius = 15px
