<!DOCTYPE html>
<html>
  <head>
    <!-- Injected dynamically by seo mixin -->
    <!-- <title><%= productName %></title> -->

    <meta charset="utf-8">
    <!-- Injected dynamically by seo mixin -->
    <!-- <meta name="description" content="<%= productDescription %>"> -->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <meta name="apple-mobile-web-app-title" content="<%= serviceName %>">
    <meta name="application-name" content="<%= serviceName %>">
    <meta name="theme-color" content="<%= primaryColor %>">
    <meta name="msapplication-TileColor" content="#b91d47">

    <!-- Open Graph -->
    <meta property="og:title" content="<%= serviceName %>">
    <meta property="og:description" content="<%= ogDesc %>">
    <meta property="og:url" content="<%= websiteUrl %>">
    <meta property="og:image" content="<%= ogImage %>">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="<%= primaryColor %>">

    <link rel="preconnect" href="<%= apiBaseUrl %>" crossorigin>
    <% if (googleFonts.length) { %>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <% } %>
    <!-- Prefetch and don’t preload to avoid delaying whole page loading -->
    <!-- Should load fast since this comes before all webpack prefetched chunks -->
    <% for (let f of googleFonts) { %>
    <link rel="prefetch" as="font" href="<%= f %>" crossorigin>
    <% } %>
    <% if (cdnUrl) { %>
    <link rel="preconnect" href="<%= cdnUrl %>" crossorigin>
    <% } %>

    <!-- Webpack chunks errors usually happen before Vue app boot -->
    <script>
      window.onerror = function (msg) {
        var isChunkError = /Loading( CSS)? chunk .+ failed/i.test(msg) ||
          /expect.+(?=token|char|<)/i.test(msg);
        if (isChunkError && window.location.hash !== '#reload') {
          window.location.hash = '#reload';
          window.location.reload(true);
        }
        return false;
      }
    </script>
    <% if (ctx.prod) { %>
    <style data-removed-during-build>
      /* Ensure SVG icons are not taking up whole viewport to properly extract critical CSS to be inlined */
      svg {
        max-height: 1em;
      }
      /* Applying some Quasar styles to properly extract critical CSS (above the fold)*/
      .absolute,
      .absolute-full,
      .absolute-center,
      .absolute-bottom,
      .absolute-left,
      .absolute-right {
        position: absolute;
      }
    </style>
    <% } %>

  </head>
  <body>
    <noscript>
      <div class="noscript"><%= javascriptRequired %></div>
    </noscript>

    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

  </body>
</html>
